[Unit]
Description=OmaStore daemon socket
Documentation=https://github.com/KitsuneForgering/OmaStore

[Socket]
ListenStream=%t/omastore.sock
SocketMode=0600

[Install]
WantedBy=sockets.target
